In [27]:
import sys
import degiroapi
from degiroapi.product import Product
from degiroapi.order import Order
from degiroapi.utils import pretty_json
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import getpass
import json

#!{sys.executable} -m pip install urllib2

ERROR: Could not find a version that satisfies the requirement urllib2 (from versions: none)
ERROR: No matching distribution found for urllib2

### API Connection

In [ ]:
#Create safe method for password
password = getpass.getpass('YourPassword')
print('Your password is: ' + password)

In [54]:
# login to Degiro
degiro = degiroapi.DeGiro()
degiro.login("RobinHocepied", password)

{'data': {'id': 501261,
  'intAccount': 11025519,
  'loggedInPersonId': 503705,
  'clientRole': 'active',
  'effectiveClientRole': 'active',
  'contractType': 'PRIVATE',
  'username': 'RobinHocepied',
  'displayName': 'ROBIN JEAN C HOCEPIED',
  'email': 'robinhocepied@gmail.com',
  'firstContact': {'firstName': 'ROBIN JEAN C',
   'lastName': 'HOCEPIED',
   'displayName': 'ROBIN JEAN C HOCEPIED',
   'nationality': 'BE',
   'gender': 'MALE',
   'dateOfBirth': '1993-05-24',
   'placeOfBirth': 'Verviers',
   'countryOfBirth': 'BE'},
  'address': {'streetAddress': 'Rue GÃ©rard',
   'streetAddressNumber': '64',
   'streetAddressExt': 'Etterbeek',
   'zip': '1040',
   'city': 'Bruxelles',
   'country': 'BE'},
  'cellphoneNumber': '+32471991561',
  'locale': 'fr_BE',
  'language': 'fr',
  'culture': 'BE',
  'displayLanguage': 'fr',
  'bankAccount': {'bankAccountId': 508936,
   'bic': 'CREGBEBBXXX',
   'iban': 'BE58732028811879',
   'status': 'VERIFIED'},
  'flatexBankAccount': {'bic': 'BIWBDE33XXX',
   'iban': 'DE73101308001017447600'},
  'memberCode': 'EA0EF874',
  'isWithdrawalAvailable': True,
  'isAllocationAvailable': True,
  'isIskClient': False,
  'isCollectivePortfolio': False,
  'isAmClientActive': False,
  'canUpgrade': True}}

### Get Portfolio positions

In [62]:
portfolio = degiro.getdata(degiroapi.Data.Type.PORTFOLIO, True)
df = pd.DataFrame(portfolio)
df.head(5)

         id positionType   size  price        value  breakEvenPrice
0  18343191      PRODUCT    1.0  39.99    35.447136       36.710000
1  19790636      PRODUCT   20.0   4.40    78.003200        5.210000
2  18333971      PRODUCT    1.0  21.41    18.977824       28.311741
3  19433248      PRODUCT   10.0   2.17    19.234880        3.892857
4  16204538      PRODUCT  401.0   3.08  1094.774912        5.211147

In [ ]:
#Delete CASH in positionType
i = df[(df.positionType == "CASH")].index
df.drop(i, inplace=True)

In [136]:
df['pct_of_total'] = ((df['value']/df['value'].sum())*100).round(2)
df.head()

,id,positionType,size,price,value,breakEvenPrice,pct_of_total
0,18343191,PRODUCT,1.0,39.99,35.447136,36.710000,0.27
1,19790636,PRODUCT,20.0,4.40,78.003200,5.210000,0.59
2,18333971,PRODUCT,1.0,21.41,18.977824,28.311741,0.14
3,19433248,PRODUCT,10.0,2.17,19.234880,3.892857,0.15
4,16204538,PRODUCT,401.0,3.08,1094.774912,5.211147,8.34

In [137]:
df.describe()

             size       price        value  breakEvenPrice  pct_of_total
count   57.000000   57.000000    57.000000       57.000000     57.000000
mean    17.175439   92.554561   230.330744       95.419775      1.754561
std     60.587046   96.053969   592.012459       94.631415      4.509487
min      1.000000    1.630000     5.832512        1.380000      0.040000
25%      1.000000   20.540000    49.450000       24.810634      0.380000
50%      1.000000   49.450000   124.397376       72.000000      0.950000
75%      4.000000  140.950000   199.564096      126.233204      1.520000
max    401.000000  368.780000  4438.736640      405.045937     33.810000

### Get Stock Names

In [97]:
responses = [degiro.product_info(x) for x in df['id'].values]
df_responses = pd.DataFrame(responses)

In [98]:
df_responses.head()

,id,name,isin,symbol,contractSize,productType,productTypeId,tradable,category,currency,...,qualitySwitchable,qualitySwitchFree,vwdModuleId,feedQualitySecondary,orderBookDepthSecondary,vwdIdentifierTypeSecondary,vwdIdSecondary,qualitySwitchableSecondary,qualitySwitchFreeSecondary,vwdModuleIdSecondary
0,18343191,Goodrx Holdings Inc,US38246G1085,GDRX,1.0,STOCK,1,True,C,USD,...,False,False,31.0,D15,0.0,issueid,600122373,True,False,21.0
1,19790636,FIELD TRIP HEALTH LTD. - COMMON SHARES,CA31656R1029,FTRP,1.0,STOCK,1,True,D,USD,...,True,False,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18333971,Palantir Technologies Inc,US69608A1088,PLTR,1.0,STOCK,1,True,D,USD,...,False,False,31.0,D15,0.0,issueid,600121287,False,False,10.0
3,19433248,FLORA GROWTH CORP. - COMMON STOCK,CA3397641026,FLGC,1.0,STOCK,1,True,D,USD,...,True,False,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16204538,Douyu International Holdings Ltd,US25985W1053,DOYU,1.0,STOCK,1,True,C,USD,...,False,False,31.0,D15,0.0,issueid,600098927,True,False,21.0

### Merge Portfolio and Stock Names

In [58]:
from datetime import datetime, timedelta

transactions = degiro.transactions(datetime(2018, 1, 1), datetime.now())

In [59]:
df_transactions = pd.DataFrame(transactions)

In [60]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          869 non-null    int64
 1   productId                   869 non-null    int64
 2   date                        869 non-null    object
 3   buysell                     869 non-null    object
 4   price                       869 non-null    float64
 5   quantity                    869 non-null    int64
 6   total                       869 non-null    float64
 7   orderTypeId                 863 non-null    float64
 8   counterParty                863 non-null    object
 9   transfered                  869 non-null    bool
 10  fxRate                      869 non-null    float64
 11  totalInBaseCurrency         869 non-null    float64
 12  feeInBaseCurrency           852 non-null    float64
 13  totalPlusFeeInBaseCurrency  869 non-null    float64
 14  transactionTypeId           869 non-null    int64
 15  tradingVenue                789 non-null    object
dtypes: bool(1), float64(7), int64(4), object(4)
memory usage: 102.8+ KB

In [1]:
import degiroapi
from degiroapi.product import Product
from degiroapi.order import Order
from degiroapi.utils import pretty_json

import pandas as pd
import numpy as np

from datetime import datetime, timedelta

# login
degiro = degiroapi.DeGiro()
degiro.login("RobinHocepied", "Jeancharles146124%")

  
# getting realtime and historical data from a stock
products = degiro.search_products('PINS')
high=[]
nb = []


for x in range(2):
        realprice = degiro.real_time_price(Product(products[0]).id, degiroapi.Interval.Type.Max)  
        rp = realprice[0]['data']['lastPrice']
        print(high)
    
        #time.sleep(60)
        realprice1 = degiro.real_time_price(Product(products[0]).id, degiroapi.Interval.Type.Max)  
        rp1 = realprice1[0]['data']['lastPrice']
        if rp1 > rp:
            rp3 = 0.97*rp1
            high.append(rp1*0.97)
            nb.append(1)
            degiro.buyorder(Order.Type.LIMIT, Product(products[0]).id, 3, 1, round(rp3,2))
            if len(nb) == 0: 
                break
            break
        break
            
        print(high)
        print(nb)

[]